
<nav>
  <a href="/matches">matches</a>
  <a href="/profiles">profiles</a>
  <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
</nav>