<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>

<main>
	<h1>Add a Wrestler</h1>
  <h4>Ensure that the wrestler is not in the dropdown</h3>
    <select id="wrestlers">
      <% wrestlers.forEach(function(wrestler) { %>
        <option><%= wrestler.name %></option>
      <% }) %>
    </select>
   <form id="add-wrestler-form" action="/wrestlers" method="POST">
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input">
    <button type="submit">Add Wrestler</button>
  </form>
</main>

<%- include('../partials/footer') %>