div {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.4rem;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 0.5rem;
  text-align: left;
}

th {
  font-size: 2rem;
  font-weight: bold;
}

td {
  font-size: 1.5rem;
}
