<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('./partials/nav') %>

<main>
  <h1>Welcome to Matches!</h1>
  <h4>Log and rate the wrestling matches you watch</h4>
  <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
 </main>

<%- include('./partials/footer') %>
