<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/main.css">
<%- include('../partials/nav') %>


<main>
  <h1>Add a Match</h1>
  <form id="new-form" action="/matches" method="POST">
    <label for="wrestlers-input">Wrestler:</label>
    <input 
      type="text" 
      name="wrestlers" 
      id="wrestlers-input">
    <label for="wrestlers-input">Wrestler:</label>
    <input 
        type="text" 
        name="wrestlers" 
        id="wrestlers-input">
    <button type="submit">Add Another?</button>
    <label for="event-year-input">Company:</label>
    <input 
      type="text" 
      name="company"    
      id="company-input"
    >
    <label for="event-input">Event:</label>
    <input
      type= "text" 
      name="event"       
      id="event-input">
    <label for="event-year-input">Year:</label>
    <input 
      type="number"
      name="eventYear"
      id="event-year-input"
    />
    <label for="rating-select">Rating:</label>
    <select name="rating" id="rating-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <button type="submit">Save Match</button>
  </form>
</main>


<%- include('../partials/footer') %>