<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/main.css">
<%- include('../partials/nav') %>


<main>
  <h1>title</h1>
  <form id="new-form" action="/matches" method="POST">
    <label for="title-input">Title:</label>
    <input 
      type="text" 
      name="title" 
      id="title-input">
    <label for="event-input">Event:</label>
    <input 
      type="text" 
      name="event" 
      id="event-input">
    <label for="event-year-input">Event Year:</label>
    <input 
      type="text" 
      name="eventYear"    
      id="event-year-input"
    >
    <label for="company-input">Company:</label>
    <input
      type= "text" 
      name="company"       
      id="company">
    <button type="submit">Save Match</button>
  </form>
</main>


<%- include('../partials/footer') %>